:root {
  --primary: #6f8ec9;
  --primary-hover: #87a6dd;
  --secondary: #ee8537;
  --secondary-hover: #f1a066;

  --font-family: "Ubuntu";
}

/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* styles */

.header {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0px 60px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #d2d1d1;
}

.logo-dblocks {
  width: 220px;
  height: 160px;
  cursor: pointer;
}

.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn {
  display: flex;
  min-width: 196px;
  height: 50px;
  padding: 15px 3px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 0.2s background;
  color: white;
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.236);
}

.btn-primary {
  background: var(--primary);
}

.btn-primary:hover {
  background: var(--primary-hover);
}

.btn-secondary {
  background: var(--secondary);
}
.btn-secondary:hover {
  background: var(--secondary-hover);
}

.container-nav li a {
  position: relative;
}

.container-nav li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--primary-hover),
    var(--secondary)
  );
  transition: width 0.4s ease;
  border-radius: 3px;
}

.container-nav li a:hover::before {
  width: 100%;
}

.container-button-lang{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.container-lang{
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-lang select{
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #d2d1d1;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  margin-top: 96px;
}

.container-main-text {
  max-width: 600px;
}

.section-main-title {
  line-height: normal;
  font-size: 48px;
  font-weight: 400;
}

.section-main-title span {
  color: var(--secondary);
}

.section-main-text {
  margin-top: 31px;
  margin-bottom: 31px;
  color: #808080;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.section-main-image {
  border: 1px solid #cacaca;

  flex-shrink: 0;
  border-radius: 8px;

  width: 550px;
  height: 319px;
  object-fit: contain;
}

.section {
  margin-bottom: 128px;
}

.cards-section {
  width: 100%;
  padding: 0 144px;
}

.container-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 112px;
  flex-wrap: wrap;
}

.card {
  width: 309px;
  height: 337px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 4px 10px 0px rgba(129, 129, 129, 0.25);
  padding: 27px 25px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  transition: 0.2s;
}

.card:hover {
  background-color: #e8e8e81c;
  transform: scale(1.01);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.card-icon {
  font-size: 45px !important;
  color: var(--primary);
}

.card-title {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.card-description {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.last-section {
  width: 100%;
  padding: 0 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-last-section-text {
  max-width: 461px;
}

.last-section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}

.last-section-text {
  color: #808080;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 29px;
  margin-bottom: 29px;
}

.last-section-image {
  width: 460px;
  height: 319px;
  border: 1px solid #cacaca;
  border-radius: 8px;
}

.footer {
  width: 100%;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d2d1d1;
  padding: 35px 60px;
}

.container-nav-footer li a:hover {
  text-decoration: underline;
}

.container-images-footer {
  display: flex;
  align-items: center;
  gap: 35px;
}

.copy {
  display: block;
  padding: 10px 0px;
  text-align: center;
}

/* sidebar */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn {
  font-size: 24px;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar-nav {
  list-style: none;
  margin-top: 50px;
}

.sidebar-nav li {
  margin: 15px 0;
}

.sidebar-nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.sidebar-nav a:hover {
  text-decoration: underline;
}

.sidebar.open {
  left: 0;
}

.container-logo-bipes{
  display: flex;
  gap: 1px;
  align-items: center;
}

.logo-bipes-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  color: #3298dc;
}

.logo-bipes-image {
  width: 3;
  height: 3rem; 
}


/* Tablet e mobile */
@media (max-width: 1024px) {
  .section{
    margin-bottom: 30px;
  }

  .header{
    padding: 10px;
  }

  .menu-toggle {
    display: block;
  }
  .nav {
    display: none;
  }

  .main-section {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    justify-content: center;
  }

  .main-section .btn-primary{
    margin: auto;
  }

  .container-main-text {
    max-width: 90%;
  }

  .header .btn-primary {
    display: none;
  }

  .cards-section {
    padding: 20px;
  }

  .container-cards {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 70%;
  }

  .last-section {
    flex-direction: column;
    padding: 20px;
  }

  .last-section{
    gap: 20px;
  }

  .last-section .btn-secondary{
    margin: auto;
  }

  .last-section-image {
    width: 100%;
    height: auto;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container-footer {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}

/* Mobile específico */
@media (max-width: 768px) {
  .container-nav {
    flex-direction: column;
    gap: 20px;
  }

  .logo-dblocks {
    width: 120px;
    height: auto;
  }

  .section-main-title {
    font-size: 36px;
    text-align: center;
  }

  .section-main-text {
    font-size: 18px;
    text-align: center;
  }

  .cards-section {
    padding: 10px;
  }

  .card {
    width: 90%;
    gap: 20px;
  }

  .container-last-section-text {
    max-width: 100%;
    text-align: center;
  }

  .last-section-title {
    font-size: 28px;
  }

  .last-section-text {
    font-size: 16px;
  }

  .footer .copy {
    font-size: 14px;
  }
}
