[submodule "ui/freeboard"]
	path = ui/freeboard
	url = https://github.com/vinicius3516/dblocks.git
[submodule "databoard"]
    path = databoard
    url = git@github.com:joaodrj/databoard.git

[submodule "blockly"]
    path = blockly
    url = https://github.com/google/blockly.git


